{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ user_profile.user.username }}'s profile
{% endblock %}

{% block styles %}
{% endblock %}

{% block body %}
<div style="margin-left:1em;margin-top:1em;">
    <h1>{{ user_profile.user.username }}</h1>
    <div style="margin-left:0.5em;margin-top:1em;">
        <h3>Bio</h3>
        <div style="padding-top:0.5em;padding-bottom:0.5em;margin-bottom:1em;">
            {% if user_profile.user == user %}
                <form method="POST" action="/profile/?id={{user_profile.user.id}}">
                    {% csrf_token %}
                    <input name="body" value="{{user_profile.bio}}" maxlength=300 size=50/>
                    <input type="submit" value="edit" />
                </form>
            {% else %}
                <p>{{ user_profile.bio }}</p>
            {% endif %}
        </div>
    <h5>Tweets: {{num_tweets}}</h5>
        <div class="tweet">
            {% block content %}
            {% endblock %}
        </div> 
    </div>
</div>
{% endblock %}